providers = ["java"]

[phases.setup]
nixPkgs = ["maven", "jdk17"]

[phases.build]
cmds = ["mvn clean package -DskipTests"]

[phases.runtime]
cmd = "java -jar target/dependency/webapp-runner.jar --port $PORT target/*.war"

[start]
cmd = "java -jar target/dependency/webapp-runner.jar --port $PORT target/*.war"

[variables]
JAVA_VERSION = "17"
